<div class="name-filter-container" fxLayout="column" fxLayout.lg="column">
  <div class="filter-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="image-container" fxFlex="10">
      <img src="assets/icons/filters/search.svg" height="auto" width="20px" alt="search" class="icon">
    </div>
    <span class="label" fxFlex="80">Nombre de hotel</span>
    <button class="icon-button text-end" fxFlex="10" *ngIf="!showName" (click)="toggleName()">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="icon-button text-end" fxFlex="10" *ngIf="showName" (click)="toggleName()">
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
  <div class="filter-content" fxFill fxLayout="row" fxLayoutAlign="start start" *ngIf="showName">
    <input type="text" placeholder="Ingrese el nombre del hotel" [(ngModel)]="searchInput" fxFlex="60" (keyup.enter)="search()">
    <button (click)="search()" fxFlex="40">Aceptar</button>
  </div>
</div>
