.filter-header {
  color: royalblue;
  font-weight: bold;
  margin: 1em 0;
}

.name-filter-container {
  padding: 0.5em 1em;
  border-bottom: 2px solid #e2e2e2;  
}

.icon-container {
  text-align: end;
}

.filter-content {
  input::placeholder {
    padding: 1em 0.5em;
  }
  button {
    margin: 0 1em;
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}