.stars-filter-container {
  padding: 0.5em 1em;
  border-bottom: 2px solid #e2e2e2;    
}

.star-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-header {
  color: royalblue;
  font-weight: bold;
  margin: 1em 0;
}

li > label {
  margin-left: 0.5em;
}

.star-check {
  font-size: 30px;
  cursor: pointer;
}