<div class="stars-filter-container">
  <div class="filter-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="image-container" fxFlex="10">
      <img src="assets/icons/filters/star.svg" height="auto" width="20px" alt="search" class="icon">
    </div>
    <span class="label" fxFlex="80">Estrellas</span>
    <button class="icon-button text-end" fxFlex="10" *ngIf="!showStars" (click)="toggleStars()">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="icon-button text-end" fxFlex="10" *ngIf="showStars" (click)="toggleStars()">
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
  <div class="filter-content" *ngIf="showStars">
    <ul class="star-list">
      <li>
        <input type="checkbox" name="all_stars" id="all_stars" [(ngModel)]="all" (change)="starChange()">
        <label for="all_stars">Todas las estrellas</label>
      </li>
      <li *ngFor="let star of stars">
        <input type="checkbox" [id]="star.id" [(ngModel)]="star.active" class="star-check" (change)="starChange()">
        <label [for]="'star_' + star.id">
          <img src="assets/icons/filters/star.svg" height="auto" width="10px" alt="star" *ngFor="let n of (star.id | starNumber)">
        </label>
      </li>
    </ul>
  </div>
</div>
