<div class="container card" fxLayout="column" fxLayoutAlign="center stretch">
  <div class="card-title">
    <h4>Filtros</h4>
  </div>
  <div fxLayout="column" fxLayout.lg="column">
    <app-name fxFlex></app-name>
    <app-stars fxFlex></app-stars>
  </div>
</div>
