.container {
  margin: 1em;
}

.card-title {
  padding: 0.5em 1em;
  border-bottom: 2px solid #e2e2e2;
  h4 {
    font-weight: bold;
    margin: 0;
  }
}

.label {
  margin-left: 1em;
}

.filter-content {
  padding: 0.5em 1em;
}

input[type=text] {
  padding: 12px 20px;
}