<div class="container">
  <ng-container *ngIf="state$ | async as state">
    <div *ngIf="state.loading" class="loading-container fa-3x">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="state.hotels?.length === 0 && !state.loading">
      No se encontraron hoteles relacionados con la busqueda
    </div>
    <div class="w3-panel w3-red w3-display-container" *ngIf="state.error">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
      <h3>Error!</h3>
      <p>{{state.error}}</p>
    </div>
    <ng-container *ngIf="!state.loading">
      <app-hotel *ngFor="let hotel of state.hotels" [hotel]="hotel"></app-hotel>
    </ng-container>
  </ng-container>
</div>
