.hotel-container {
  padding: 0.5em;
}

.hotel-overview {
  padding: 0 1em;
  margin: 1em 0;
}

.hotel-image {
  max-width: 100%;
  height: auto;
}

.hotel-amenities {
  margin: 0.5em 0;
  app-amenitie {
    margin: 0 5px;
  }
}

.hotel-name {
  color: royalblue;
  font-weight: bold;
  margin: 0;
}

.border-left {
  border-left: 1px dashed #424242;
}

.border-top {
  border-top: 1px dashed #424242;
}

.hotel-price {
  text-align: center;
  button {
    margin: 0 1em;
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.star {
  margin: 0 3px;
}