<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch" fxLayoutAlign.sm="center center" fxLayoutAlign.gt-sm="start stretch"
  class="hotel-container card center">
  <div class="image-container">
    <img [src]="'assets/images/hotels/' + hotel.image" alt="hotel" class="hotel-image" (error)="handleImageNotFound($event)">
  </div>
  <div fxFlex="40" class="hotel-overview">
    <h4 class="hotel-name">{{hotel.name}}</h4>
    <div class="hotel-stars">
      <img src="assets/icons/filters/star.svg" height="auto" width="20px" alt="star" *ngFor="let star of (hotel.stars | starNumber)"
        class="star">
    </div>
    <div class="hotel-amenities">
      <app-amenitie *ngFor="let amenitie of hotel.amenities" [name]="amenitie"></app-amenitie>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="hotel-price" [ngClass.gt-sm]="{'border-left': true, 'border-top': false}"
    [ngClass]="{'border-left': false, 'border-top': true}">
    <app-price [price]="hotel.price"></app-price>
    <button>Ver hotel</button>
  </div>
</div>
