/* You can add global styles to this file, and also import other style files */

body {
  background: #e2e2e2;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.card {
  background: white;
  border: 1px thin #a1a1a1;
  box-shadow: #a1a1a1 1px 1px 1px 1px;
}

.padding {
  padding: 1em;
}

.text-end {
  text-align: end;
}

.icon-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: royalblue;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  outline: none;
}