<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start start" class="content">
  <div fxHide.gt-sm fxFlexFill class="filter-button-container">
    <button class="icon-button" (click)="toggleFilter()">
      Filtrar
      <div *ngIf="!showFilter" class="icon-container">
        <i class="fas fa-chevron-down"></i>
      </div>
      <div *ngIf="showFilter" class="icon-container">
        <i class="fas fa-chevron-up"></i>
      </div>
    </button>
  </div>
  <app-filter fxFlexFill fxFlex.gt-sm="25" *ngIf="showFilter"></app-filter>
  <app-hotels fxFlexFill fxFlex.gt-sm="75"></app-hotels>
</div>
